@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark-blue:#252b42;
  --sky-blue:#23a6f0;
  --light-sky-blue:#b2e3ff;
  --light-orange:#e77c40;
  --red:#e74040;
  --light-pink:#ffdcd1;
  --light-gray:#737373;
  --yellow:#f3cd03;
  --green:#2dc071;
  --light-green:#b9eaa8;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
p{
  line-height: 1.4;
}

/*utilty classes*/
.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}
.text-primary{
  color: var(--sky-blue);
  font-size: 14px;
  font-weight: 600;
}
.text-secondary{
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
}
/* header start*/
#header{
background-color: var(--dark-blue);
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1100px;
margin: auto;
padding: 0 2rem;
height: 100px;
}
.navbar a{
  color: #fff;
  font-size: 14px;
}

.navbar .logo{
  font-size: 24px;
  font-weight: 600;
}
.navbar .logo:hover{
  color: var(--red);
}
 .navbar ul{
  display: flex;
 }

  .navbar ul li a{
  margin: 0 10px;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 13px rgba(0,0,0,0.6);
 }

   .navbar ul li a:hover{
    color: var(--red);
 }
 .navbar .account .btn-join{
  background-color: var(--sky-blue);
  padding: 10px 20px;
  margin-left: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
     box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
}
 .navbar .account .btn-join svg{
font-size:12px;
margin-left: 5px;
vertical-align: middle;
 }
.navbar .account .btn-join:hover{
    background-color:#fff;
    color:#23a6f0;
  transition: transform 0.3s ease,box-shadow 0.3s ease;     box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
   transform:scale(1.05);
  }
  .navbar .login:hover{
  color: var(--red);
}
/* ====header end=====*/

/*Main Start*/
/*Home start*/
#home{
  background-color: var(--dark-blue);
  padding: 5rem 0;
}
#home .home-header{
text-align: center;
color: #fff;
max-width: 450px;
margin: auto;
}
#home .home-header span{
  color: var(--red);
  font-weight: 600;
}
#home .home-header span:hover{
  color:#fff;
}
#home .home-header h1{
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
}

#home .home-header p{
  margin-bottom: 30px;
  line-height: 1.6;
}
#home .home-header p:hover,#home .home-header h1:hover{
  color: var(--red);
}
#home .home-header .btn{
 padding: 10px 30px;
 border-radius: 5px;
 font-size: 12px;
 font-weight: 500;
 border: 1px solid var(--red);
 margin: 0 5px; 
    box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
}

#home .home-header .btn.btn-red{
  color: #fff;
  background-color: var(--red);
}

#home .home-header .btn.btn-transparent{
  background-color: transparent;
  color: var(--red);
}
#home .home-header .btn.btn-red:hover{
      background-color:transparent;
    color:var(--red);
  transition: transform 0.3s ease,box-shadow 0.3s ease;  
  box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
   transform:scale(1.05);
}
#home .home-header .btn.btn-transparent:hover{
background-color: var(--red);
color: #fff;
 transition: transform 0.3s ease,box-shadow 0.3s ease;  
    box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
   transform:scale(1.05);
}
/*===Home end===*/
/*card start*/
#home .card-container{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;

}

#home .card-container .card{
  padding: 25px;
  background-color:#fff; 
  border-radius: 5px;
  box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
}
#home .card-container .card:hover{
  transition: 0.3s; 
  box-Shadow: 8;
  transform: translateY(-10px);
  cursor: pointer;
}
#home .card-container .card .icon{
  display: inline-block;
  padding: 12px;
  border-radius: 10px;

}

#home .card-container .card .icon svg{
  font-size: 25px;
}
#home .card-container .card h2{
  font-size: 18px;
  color: var(--dark-blue);
  margin-top: 15px;
}
#home .card-container .card .line{
  width: 50px;
  height: 2px;
  display: block;
  background-color: var(--red);
  margin: 15px 0;
}

#home .card-container .card p{
font-size: 14px;
}
/*====card end ===*/

/* courses start */
#courses{
  padding: 7rem 0;
}
.section-heder h2{
  font-size: 35px;
  margin: 15px 0;
  color: var(--dark-blue);
}
.section-heder p{
  color:var(--light-gray) ;
}

#courses .courses-contianer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  margin-top: 4rem;
}
#card{
  box-shadow: 0px 8px 13px rgba(0,0,0,0.2); 
}
#card:hover{
  box-Shadow: 8;
    transition: 0.3s; 
  transform: translateY(-10px);
  cursor: pointer;
}
#courses .courses-contianer  .course img{
  width: 100%;
}
#courses .courses-contianer  .course{
  position: relative;
}
#courses .courses-contianer  .course .sale{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 8px;
  background-color: var(--red);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

#courses .courses-contianer  .course .content{
  padding:15px ;
  font-size: 14px;
  color: var(--light-gray);
}
#courses .courses-contianer  .course .content .course-feild{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#courses .courses-contianer  .course .content .course-feild .department{
  color:var(--sky-blue) ;
  font-weight: 600;
}

#courses .courses-contianer  .course .content .course-feild .rating{
  background-color: var(--dark-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

#courses .courses-contianer  .course .content .course-feild .rating svg{
  color: var(--yellow);
}

#courses .courses-contianer  .course .content h3{
  margin: 10px 0;
  color: var(--dark-blue);
}
#courses .courses-contianer  .course .content .sales{
margin: 10px 0;
font-weight: 600;
}
#courses .courses-contianer  .course .content .price .del{
  margin-right: 10px;
  font-weight: 600;
}
#courses .courses-contianer  .course .content .course-info{
  display: flex;
align-items: center;
margin: 15px 0;
}

#courses .courses-contianer  .course .content .course-info p{
  margin-right: 10px;
}

#courses .courses-contianer  .course .content .course-info p svg{
  color: var(--sky-blue);
  font-size: 20px;
  vertical-align:middle ;
  margin-right: 3px;
}

#courses .courses-contianer  .course .content .btn-learn{
  padding: 12px 20px;
  border: 1px solid var(--sky-blue);
  color: var(--sky-blue);
  border-radius: 25px;
  font-weight: 500;
  display: inline-block;
    box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
}
#course .courses-contianer  .course .content .btn-learn:hover{
background-color: var(--sky-blue);
color:#fff;
transition: transform 0.3s ease,box-shadow 0.3s ease;  
   box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
   transform:scale(1.05);
}
/* ===courses end=== */

/* Reviews start */
#reviews{
  padding-bottom: 7rem;
}
#reviews .ratings{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8rem;
  margin-top: 5rem;
}
#reviews .ratings .rating img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
#reviews .ratings .rating .star{
color: var(--yellow);
text-align: center;
display: block;
font-size: 20px;
}
#reviews .ratings .rating .description{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: var(--light-gray);
}
#reviews .ratings .rating .person{
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
}
/* =====Reviews end===== */
/* join us */
#join-us{
  background-color: var(--dark-blue);
  padding: 6rem 0;
}
#join-us .content .text-primary:hover{
  color: #fff;
}
#join-us .content{
  max-width: 600px;
  margin: auto;
  text-align:center;
  color: #fff;
}
#join-us .content h2:hover,#join-us .content p:hover{
  color: var(--red);
}
#join-us .content h2{
  font-size: 35px;
  margin: 15px 0;
}

#join-us .content form{
margin-top: 4rem;
position: relative;
}
#join-us .content form input{
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
   box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
}
#join-us .content form button{
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px;
  background-color: var(--sky-blue);
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
       box-shadow: 0px 8px 13px rgba(0,0,0,0.2);
      border-bottom-right-radius: 5px;
}

#join-us .content form button:hover{background-color: var(--sky-blue);
color:var(--sky-blue);
background-color:#fff;
transition: transform 0.3s ease,box-shadow 0.3s ease;  
   transform:scale(1.05);}
/* ======jouin us =======*/
/*===Main end===*/
/* footer */
#footer .footer-row{
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3rem;
}

/* footer */
#footer .footer-row h2{
  margin-bottom: 20px;
  color: var(--dark-blue);
}
#footer .footer-row p{
  color: var(--light-gray);
}
#footer .footer-row .social{
  margin-top: 20px;
}
#footer .footer-row .social a{
  color: var(--sky-blue);
  margin-right: 10px;
  font-size: 20px;
}
#footer .footer-row .social a:hover{
  color: #043652;
}
#footer .footer-row ul li{
  margin: 10px 0;
  color: var(--light-gray);
  font-weight: 500;
}
#footer .footer-row ul li a{
    color: var(--light-gray);
}
#footer .footer-row ul li a:hover ,#footer .footer-row p:hover,#footer .footer-row ul li:hover{
  color: var(--red);
}
#footer .copyright{
  text-align: center;
  padding: 20px 0;
  color: var(--light-gray);
  font-weight: 500;
}
/* ===footer=== */
@media (max-width: 600px){
  #home .card-container,
  #header .navbar,
   #header .navbar .logo,
  #footer .footer-row,
  #course .courses-contianer,
   #header .navbar ul,
  #reviews .ratings {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem 2rem;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .navbar ul li a {
    margin: 10px 0;
    font-size: 16px;
  }}